<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CBVDGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CBVDGUI.Properties.Settings>
            <setting name="isTriggerbot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAimbot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAimKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainAimKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fovX" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="fovY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="monitor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="msShootTime" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="snapDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showFOV" serializeAs="String">
                <value>False</value>
            </setting>
        </CBVDGUI.Properties.Settings>
    </userSettings>
</configuration>